.footer
  width: 100%
  line-height: 2em
  text-align: center

  .distribution
    span
      color: pink
      font-size: 1.75em
      padding: 0 .25em

  .copyright
    margin-left: 1em

    img
      height: 13px
      width: 14px
      padding-right: 2px
      transform: translate(0,1px)
