imgpath = '/img/'

#header
  width 400px
  margin 0 auto
  padding 50px 0
  background white
  text-align center

  +below(690px)
    width 100%

  #nav
    width 100%
    padding 0
    margin 1.75em 0

    li
      display inline-block
      margin 0 .5em

  #logo
    h1
      color gray

  .description
    color gray
