#videos
  ul
    padding: 0
    margin: 0

    li
      list-style: none
      span(1/2)
      height: 400px
      padding: 0 10px
      border-bottom: 0

      .video-link
        display: none

      +below(845px)
        stack()
        center(450px)

      +below(440px)
        height: auto
        border-bottom: 1px solid gray

        iframe
          display: none

        .video-link
          display: block
          &:hover
            border-bottom: none
